# vim temporal files
*.swp
# Compiled Object files
*.slo
*.lo
*.o
#*.obj # haha - this made me nuts in a *.obj loader library :D

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
